<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Conta</title>
    <!-- Correção no caminho do CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Correção no caminho do favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <style>
        main {
            background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
            url("{{ url_for('static', filename='images/logo_ifce.png') }}");
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;
            padding: 20px;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><img src="{{url_for('static', filename='images/sistemas_web.png')}}" alt="Logo Sistemas Web"></li>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('get_creditors') }}">Credores</a></li>
                <li><a href="{{ url_for('get_bills') }}">Contas a Pagar</a></li>
                <li><a href="{{ url_for('bills_by_period') }}">Relatório de Contas</a></li>
                <li><a href="{{ url_for('contas_por_credor') }}">Contas por Credor</a></li>
                <li><img src="{{url_for('static', filename='images/sistemas_web2.png')}}" alt="Logo Sistemas Web"></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Adicionar Conta</h1>
        <form method="POST" action="{{ url_for('add_conta') }}">
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" required>

            <label for="valor">Valor:</label>
            <input type="text" id="valor" name="valor" required>

            <label for="credor_id">Credor</label>
            <select class="form-control" id="credor_id" name="credor_id">
                <option value="" selected>Escolha um credor</option>
                {% for credor in credores %}
                <option value="{{ credor.id }}">{{ credor.nome }}</option>
                {% endfor %}
            </select>

            <label for="status_conta">Status da Conta</label>
            <select class="form-control" id="status_conta" name="status_conta">
                <option value="a vencer" selected>A Vencer</option>
                <option value="pago">Pago</option>
                <option value="vencido">Vencido</option>
            </select><br><br>

            <label for="data_vencimento">Data de Vencimento: </label>
            <input type="date" class="form-control" id="data_vencimento" name="data_vencimento" value="{{ data_atual }}"
                required>

            <label for="data_pagamento">Data de Pagamento: </label>
            <input type="date" class="form-control" id="data_pagamento" name="data_pagamento" value="{{ data_atual }}"
                required><br><br>

            <button type="submit" class="botao_a_direita">Adicionar</button>
        </form>
        <a href="{{ url_for('get_bills') }}" class="botao_a_esquerda">Cancelar</a>
    </main>
    <footer>
        <img src="{{url_for('static', filename='images/telematica.png')}}" alt="Telemática" class="icone_a_esquerda">
        <p>Desenvolvido por Alencar Júnior</p>
    </footer>

    <!-- Ícone do WhatsApp -->
    <div class="whatsapp-icon">
        <a href="https://wa.me/85999321174" target="_blank" rel="noopener" title="Enviar mensagem no WhatsApp">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/whatsapp.png" alt="WhatsApp">
        </a>
    </div>
</body>

</html>