<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Credores</title>
    <!-- Correção no caminho do CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Correção no caminho do favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <style>
        main {
            background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
            url("{{ url_for('static', filename='images/logo_ifce.png') }}");
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;
            padding: 20px;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><img src="{{url_for('static', filename='images/sistemas_web.png')}}" alt="Logo Sistemas Web"></li>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('get_creditors') }}">Credores</a></li>
                <li><a href="{{ url_for('get_bills') }}">Contas a Pagar</a></li>
                <li><a href="{{ url_for('bills_by_period') }}">Relatório de Contas</a></li>
                <li><a href="{{ url_for('contas_por_credor') }}">Contas por Credor</a></li>
                <li><img src="{{url_for('static', filename='images/sistemas_web2.png')}}" alt="Logo Sistemas Web"></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Lista de Credores</h1>
        <input type="text" id="searchInput" placeholder="Buscar por nome..." onkeyup="searchCreditor()"
            class="campo_de_busca">
        <a href="{{ url_for('add_credor') }}" class="btn btn-primary">Adicionar Novo Credor</a>
        <a href="{{ url_for('export_creditors_pdf') }}" class="btn">Exportar PDF</a>
        <table class="table table-bordered" id="creditorsTable">
            <thead>
                <tr>
                    <th><a href="?sort_by=id&order=desc">ID</a></th>
                    <th>
                        Nome
                        <a href="?sort_by=nome&order=asc">▲</a>
                        <a href="?sort_by=nome&order=desc">▼</a>
                    </th>
                    <th>CNPJ</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for credor in credores %}
                <tr>
                    <td>{{ credor.id }}</td>
                    <td>{{ credor.nome }}</td>
                    <td>{{ credor.cnpj }}</td>
                    <td>{{ credor.telefone }}</td>
                    <td>{{ credor.email }}</td>
                    <td>{{ credor.endereco }}</td>
                    <td>
                        <a href="{{ url_for('edit_credor', id=credor.id) }}" class="btn btn-warning">Editar</a>
                        <!-- Formulário para Excluir -->
                        <form action="{{ url_for('delete_credor', id=credor.id) }}" method="POST"
                            onsubmit="return confirm('Tem certeza que deseja excluir este credor?');"
                            class="display_inline">
                            <button type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        <img src="{{url_for('static', filename='images/telematica.png')}}" alt="Telemática" class="icone_a_esquerda">
        <p>Desenvolvido por Alencar Júnior</p>
    </footer>

    <!-- Ícone do WhatsApp -->
    <div class="whatsapp-icon">
        <a href="https://wa.me/85999321174" target="_blank" rel="noopener" title="Enviar mensagem no WhatsApp">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/whatsapp.png" alt="WhatsApp">
        </a>
    </div>
    <script>
        function searchCreditor() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("creditorsTable");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) {  // Começa do 1 para ignorar o cabeçalho
                td = tr[i].getElementsByTagName("td")[1]; // Obtém a primeira coluna (Nome)
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</body>

</html>