<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Conta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Excluir Conta</h1>
        <p>Você tem certeza de que deseja excluir a conta <strong>{{ conta.descricao }}</strong>?</p>
        <form action="{{ url_for('delete_conta', id=conta.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{{ url_for('bills') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    <footer>
        <p>Desenvolvido por Alencar Júnior</p>
    </footer>

    <!-- Ícone do WhatsApp -->
    <div class="whatsapp-icon">
        <a href="https://wa.me/85999321174" target="_blank" title="Enviar mensagem no WhatsApp" rel="noopener">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/whatsapp.png" alt="WhatsApp">
        </a>
    </div>
</body>

</html>