{% extends 'base.html' %}

{% block title %}Lista de Credores{% endblock %}

{% block content %}
    <h1>Lista de Credores</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for creditor in creditors %}
            <tr>
                <td>{{ creditor.id }}</td>
                <td>{{ creditor.name }}</td>
                <td>{{ creditor.email }}</td>
                <td>{{ creditor.phone }}</td>
                <td>
                    <a href="{{ url_for('update_creditor', id=creditor.id) }}" class="btn btn-primary">Editar</a>
                    <a href="{{ url_for('delete_creditor', id=creditor.id) }}" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_creditor') }}" class="btn btn-success">Adicionar Novo Credor</a>
{% endblock %}
